@using InspectionReportChecker.WebUI.Server.Components.Pages
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div>
    <header>
        <nav class="nav-bar">
            <h1 class="nav-title">Inspection Report Checker</h1>
            <span class="nav-separator">|</span>
            <ul class="nav-list">
                <li>
                    <NavLink href="/"
                        Match="NavLinkMatch.All"
                        class="home-link"
                        title="Home"
                        onclick="if (window.location.pathname === '/') { window.location.reload(); }">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>
                    </NavLink>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <article class="content px-4">
            <ErrorBoundary>
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent>
                    <Error />
                </ErrorContent>
            </ErrorBoundary>
        </article>
    </main>
</div>