@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Home</h1>

<EditForm Model="SearchModel" OnValidSubmit="GetReports">
    <DataAnnotationsValidator />
    <div class="search-container">
        <label for="searchTerm">Job ID:</label>
        <input id="searchTerm" @bind="SearchModel.SearchTerm" class="form-control search-input" />
        <button type="submit" class="btn btn-primary">Search</button>
        <ValidationMessage For="@(() => SearchModel.SearchTerm)" />
    </div>
</EditForm>

@if (IsLoading)
{
    <Loading />
    return;
}

@if (!HasSeached)
{
    <div>Enter a job ID to search for reports.</div>
    return;
}

@if (!IsLoading && (SearchModel.Results is null || !SearchModel.Results.Any()))
{
    <div>No jobs found</div>
    return;
}

@if (SearchModel.Results?.Any() == true)
{
    <table>
        <thead>
            <tr>
                <th>Job ID</th>
                <th>
                    Overall Status
                    <div class="tooltip">
                        <i>?</i>
                        <span class="tooltiptext">This is your overall status.</span>
                    </div>
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var job in SearchModel.Results)
            {
                <tr>
                    <td>@job.Id</td>
                    <td>Good - ADD INDICATOR</td>
                    <td>
                        <a href="/view-job/jobId=@job.Id">
                            <button class="primary">View</button>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}