/* MAKE THE BELOW CLASSES MAYBE */

/*h1 {
    padding: 10px 20px; 
    margin-bottom: 20px; 
    font-size: 1.8rem; 
}

div {
    margin: 15px auto; 
    padding: 15px;
}
*/

h1:focus {
    outline: none;
}

.validation-message {
    color: #e50000;
}

.darker-border-checkbox.form-check-input {
    border-color: #929292;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.search-container {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 90%;
    text-align: center;
    border-radius: 8px;
}

.search-input {
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    background-color: #0884ac;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    .btn:hover {
        background-color: #08789c;
    }

table {
    width: 93.5%;
    margin: 20px auto;
    border-collapse: collapse;
}

thead th {
    background-color: #0884ac;
    color: white;
    letter-spacing: 0.05em;
    border-bottom: 2px solid #066d8a;
}

th,
td {
    padding: 16px;
    text-align: left;
    border: 1px solid #ddd;
}


tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

table td:nth-child(2),
table th:nth-child(2) {
    width: 50px;
    text-align: center;
}


tbody tr:hover {
    background-color: #e9ecef;
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 160px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -80px;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
